*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    .dot-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.dot-grid__wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.dot-grid__canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.content{
    position: relative;
    z-index: 1;
}
}
.nav-bar {
    background-color: rgb(243, 62, 92);   /* Spotify green */
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.nav-bar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}
.nav-bar a:hover{
    color:#ff9800;
}
.search-box{
    display:flex;
    justify-content:center;
    margin:30px;
    gap:10px;
}

.search-box input{
    width: 350px;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    
}
.search-box button{
    padding:10px 20px;
    border:none;
    background:#ff9800;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

.search-box button:hover{
    background:#e68900;
}
.product-card{
    position: relative;
}

.wishlist{
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 25px;
    cursor: pointer;

    background: white;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.wishlist:hover{
    color: red;
    transform: scale(1.1);
}
.hero{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:60px;
}

.hero-text{
    width:45%;
}

.hero-text h1{
    font-size:45px;
    margin-bottom:20px;
}

.hero-text p{
    font-size:18px;
    margin-bottom:20px;
}

.shop-btn{
    padding:12px 25px;
    border:none;
    background:#222;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

.shop-btn:hover{
    background:#ff9800;
}

.hero-image img{
    width:450px;
}


.offer-banner{
    background:#ff9800;
    color:white;
    text-align:center;
    padding:25px;
}


.categories{
    padding:50px;
    text-align:center;
}

.category-container{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:30px;
}

.category-card{
    background:white;
    padding:30px;
    width:180px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
    transition:.3s;
}

.category-card:hover{
    transform:translateY(-8px);
}



.products{
    padding:50px;
    text-align:center;
}

.product-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:30px;
}

.product-card{
    width:250px;
    background:white;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
    padding:20px;
    transition:.3s;
}

.product-card:hover{
    transform:translateY(-10px);
}

.product-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.price{
    color:#ff5722;
    font-size:22px;
    font-weight:bold;
    margin:10px 0;
}

.product-card button{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:none;
    background:#222;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

.product-card button:hover{
    background:#ff9800;
}
.newsletter{
    text-align:center;
    padding:60px 20px;
    background:#222;
    color:white;
}

.newsletter h2{
    font-size:35px;
    margin-bottom:15px;
}

.newsletter p{
    font-size:18px;
    margin-bottom:25px;
    color:#ddd;
}

.newsletter-box{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.newsletter-box input{
    width:350px;
    padding:14px;
    border:none;
    border-radius:5px;
    outline:none;
}

.newsletter-box button{
    padding:14px 25px;
    background:#ff9800;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    transition:.3s;
}

.newsletter-box button:hover{
    background:#e62600;
}

.footer{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-wrap:wrap;
    background:#222;
    color:white;
    padding:60px 8%;
    gap:40px;
}

.footer-section,
.quick-links,
.contact,
.follow{
    flex:1;
    min-width:220px;
}

.footer h2{
    font-size:26px;
    margin-bottom:15px;
    color:#fff;
}

.footer p{
    color:#d3d3d3;
    line-height:1.8;
    margin-bottom:15px;
}


.quick-links ul,
.contact ul,
.follow ul{
    list-style:none;
    padding:0;
    margin:0;
}

.quick-links li,
.contact li,
.follow li{
    margin:12px 0;
}


.quick-links a,
.follow a{
    text-decoration:none;
    color:#d3d3d3;
    transition:.3s;
}

.quick-links a:hover,
.follow a:hover{
    color:#ff9800;
    padding-left:6px;
}


.contact li{
    color:#d3d3d3;
}

.footer-bottom{
    background:#111;
    color:white;
    text-align:center;
    padding:18px;
    font-size:15px;
    border-top:1px solid #444;
}